<md-sidenav class="md-sidenav-left md-whiteframe-z1" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
  <md-toolbar class="md-theme-blue">
    <h1 class="md-toolbar-tools">Git Rank</h1>
  </md-toolbar>
  <md-content layout-padding>
    <side-nav selected-org="appRootController.selectedOrg"></side-nav>
  </md-content>
</md-sidenav>
  <section layout="column" flex>
    <md-toolbar class="md-theme-indigo">
      <h1 class="md-toolbar-tools">Leaderboard: {{appRootController.selectedOrg.login}}</h1>
    </md-toolbar>
    <md-content flex>

      <div layout="column" layout-fill layout-align="top center" ui-view>

      </div>

    </md-content>
  </section>
